@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
    font-family: "Iner", sans-serif;
}

.alert-info {
    background: #f7fee7;
    border: 1px solid #84cc16;
    border-radius: 5px;
    padding: 20px;
    width: fit-content;
}